@import "../../utils/palette";

@keyframes appear {
  from { transform: scaleY(0); }
  to   { transform: scaleY(100%); }
}

.collections-wrapper {
  display: none;
  justify-content: center;
  width: 80%;
  margin: 100px auto;
  height: 400px;
  animation: appear 0.2s;
  overflow: hidden;
}

.collections-folders {
  flex-direction: column;
  width: 100%;
  height: 90%;
  box-shadow: inset 0px -11px 8px -10px #FFF;
  overflow: scroll;
}

.collections-paths-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90%;
  margin-top: 10px;
  margin-left: 20px;
  animation: appear 0.2s;
  overflow: scroll;
}

.sorting-buttons {
  display: none;
  justify-content: flex-end;
  align-items: center;
}

#up {
  background-image: url(../../assets/up.svg);
}

#down {
  background-image: url(../../assets/down.svg);
}

.sorting-btn {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5px 10px;
  &:hover {
    transform: scale(1.2);
  }
}

.collection-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url(../../assets/folder.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.folder-cell {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  border-bottom: 1px solid $divider-color;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.folder-title {
  color: #FFF;
  font-size: 30px;
  font-weight: lighter;
}

.collections-folders-title {
  margin-bottom: 10px;
  color: #FFF;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}

.collections-folders-wrapper {
  width: 50%;
  height: 100%;
}

.collections-paths {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  animation: appear 0.2s;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  overflow: scroll;
}

.path-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $divider-color;
  color: #FFF;
}

.path-title {
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
}

.path-link {
  margin: 0 0 5px;
  color: #FFF;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #7ac3d6;
  }
  &:visited {
    color: #FFF;
  }
}

.path-date {
  align-self: flex-end;
  color: #FFF;
  font-size: 12px;
  font-weight: lighter;
}
