@import "../../utils/palette";

.shorten-folder-cell {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 0;
  // height: 50px;
  background-color: #FFF;
  border-bottom: 1px solid $divider-color;
}

.shorten-folder-title {
  font-weight: normal;
}
