@import "./utils/palette";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Avenir Next', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: $primary-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.3);
  z-index: -10;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin: 15px 0 0;
  background-color: $primary-color;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  color: #FFF;
  background-image: url(./assets/logo.svg);
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  word-spacing: 10px;
}

.tab {
  border: none;
  height: 100%;
  margin: 0 10px;
  background-color: transparent;
  border-bottom: 4px solid $primary-color;
  color: $divider-color;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  overflow: hidden;
  transition: all 0.1s;
  &:focus {
    outline: none;
  }
}

.active-tab {
  border-bottom: 4px solid #FFF;
  color: #FFF;
}

@keyframes animateTab {
  to { transform: scale(100); opacity: 0; }
}

.ripple {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
}

.animate-tab {
  .ripple {
    width: 2px;
    height: 2px;
    animation: 0.5s animateTab;
    background-color: red;
    border-radius: 50%;
  }
}

#folder-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 800px;
  margin: 0 auto;
}
